* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: rgb(13, 138, 221);
    cursor: pointer;
}

.navbar{
    background-color: #e6e6e6;
    height: auto;
    padding: 5px 0;
}

.navsection{
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.MuiFormControl-root{
    margin: 0;
}

.duet-logo{
    width: 7%;
}

.link-list{
    display: inline-flex;
    list-style: none;
}

.link-list-item{
 margin: auto 35px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
    margin: auto 10px !important;
}
.card{
    margin: auto;
}
.questionPage{
text-align: center;
width: 80%;
margin: auto;
}

.question-main-heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 35px;
    margin-top: 100px;
}

.guidelines{
    text-align: left;
    width: 60%;
    margin: auto;
}

.guideline-para, .note{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px;
}

.guideline-list{
    list-style: circle;
}

.guideline-list-item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.highlighted{
    color: red;
}
.question-form{
    width: 80%;
    margin: auto;
    text-align: center !important;
    margin-bottom: 75px !important ;
    overflow: hidden;
}
.question-input{
    width: 100%;
    margin: 15px auto !important;
}
.question-submit-btn{
    display: block !important;
    float: right;
}
.profanity-check{
    float: right;
    margin: auto 10px !important;
}

.login-page{
    text-align: center;
    margin-top: 5%;
}

.login-heading,.buildprofile-heading,.signup-heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login-form, .signup-form{
    width: 20%;
    margin: auto;
}
.login-input, .signup-input{
    width: 100%;
    margin: 15px auto !important;
}
.signup-page{
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
.buildprofile-heading{
    margin: 15px;
}
.buildprofile{
    width: 80%;
    margin: auto;
}
.profile-input-line{
margin: 15px !important;
}

.profile-input-noline{
    display: block !important;
    margin: 15px !important;
    width: 50% !important;
}
.designation-select{
    width: 32%;
}
.img-section{
    justify-content: center;
    text-align: center;
}
.profile-img{
    border-radius: 50px;
    width: 150px;
    margin: auto;
    border: 2px solid gray;
}
.input-img{
    margin: 25px auto;
    padding: auto !important;
    text-align: center;
    justify-content: center;
}

.personal h2,.info h2,.uni-info h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 25px;
    color: rgb(41, 41, 41);

}

.question{
    margin: 50px;
}

.question span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.your-answer{
    width: 80% !important;
    justify-content: center;
    margin: 50px !important;
}
.submit-answer{
    margin: 50px !important;
    margin-top: 5px !important;
}

.answer-border{
    border: 1px solid gray;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
}